<table>
    <th>State</th>
    <th>Field</th> 
    <th>Value</th>
    <th></th>
    <tr *ngFor="let field of fields" (click)="onRowClicked(field)" [ngClass]="{'highlight': field === selectedField}">
       
        <td class="state-column" *ngIf="field.state == 0"><img (click)="onStateClicked(field)" src="assets/images/check24.png" alt="Ok"></td>
        <td class="state-column" *ngIf="field.state == 1"><img (click)="onStateClicked(field)" src="assets/images/warning24.png" alt="Warn"></td>
        <td class="state-column" *ngIf="field.state == 2"><img (click)="onStateClicked(field)" src="assets/images/error24.png" alt="Err"></td>

        <td class="name-column">{{field.name}}</td>

        <td class="value-column">
            <mat-form-field>
                <input #box (keyup.enter)="onValueSubmit(box.value)" value="{{field.value}}" type="{{getValueInputType(field)}}" aria-label="Number" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" (closed)="onSelectionClosed()">
                <mat-option *ngFor="let foundValue of field.foundValues" [value]="foundValue">
                    {{foundValue}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>            
        </td>

        <td *ngIf="fieldHasRectangle(field)"><img src="assets/images/document24.png" alt="found"></td>
        <td *ngIf="!fieldHasRectangle(field)"></td>
    </tr>
</table>
  