table {
  font-size: 12px;
  border-spacing: 0px;
  text-align: left;

  tr {    
    .state-column {
      width: 12%;
    }

    .name-column{
      width: 50%;
    }
    
    .value-column{
      width: 50%;
    }
  }

}


.highlight{
  background: lightgray;
}
